<app-whatsapp-api></app-whatsapp-api>
<app-header-size-wrapper id="main"></app-header-size-wrapper>

<div class="flex flex-col gap-[6rem]">
  <main class="relative pt-30">
    <section
      class="relative bg-[url('assets/img/img_main.png')] bg-cover bg-center w-full h-[40rem] flex flex-col justify-center items-center"
    >
      <!-- Capa que oscurece -->
    <div class="absolute inset-0 bg-black bg-opacity-50"></div>

      <!-- Contenido encima del overlay -->
      <div class="relative flex flex-col items-center gap-6 px-6 text-center">
        <h2 class="text-white text-lg lg:text-2xl font-semibold">
          ¿Buscas un momento de paz y equilibrio para tu cuerpo y mente?
        </h2>
      
        <h1 class="relative text-white text-3xl lg:text-5xl font-messiri font-bold">
          Somos Heliconia SPA Boutique
        </h1>
      
        <p class="relative text-white text-xl lg:text-2xl font-semibold">
          Renueva tu cuerpo, relaja tu alma
        </p>
      
        <p class="relative text-white text-base lg:text-lg font-light max-w-3xl">
          Explora nuestros servicios de spa y masajes profesionales. Encuentra el tratamiento perfecto para ti.
        </p>
      
        <div class="relative mt-6">
          <a
            class="px-6 py-3 border border-secondary_light text-white hover:bg-secondary_light transition"
            routerLink="/planes"
          >
            BONO DE SPA AQUÍ
          </a>
        </div>
      </div>
    </section>

    <div class="w-full mt-10 justify-center flex p-5 lg:p-0">
      <h1 class="font-jost text-[1rem] lg:text-[1.5rem] text-primary text-justify">
        Te acompañamos en un viaje de conexión interior, relajación profunda y
        cuidado integral.
      </h1>
    </div>
    <br />
    <app-separator></app-separator>
  </main>

  <section>
    <app-plans-section></app-plans-section>
  </section>

  <section>
    <app-us></app-us>
  </section>

  <app-separator id="location"></app-separator>

</div>
