<app-whatsapp-api></app-whatsapp-api>
<app-header-size-wrapper id="main"></app-header-size-wrapper>

<div class="flex flex-col gap-[6rem]">
  <main class="relative pt-30">
    <section
      class="relative bg-[url('assets/img/img_main.png')] bg-cover bg-center w-full h-[40rem] flex flex-col justify-center items-center"
    >
      <!-- Capa que oscurece -->
      <div class="absolute inset-0 bg-black bg-opacity-50"></div>

      <!-- Contenido encima del overlay -->
       <div class="flex flex-col justify-center gap-2 px-10">
        <h1 class="text-bg relative text-[1.1rem] lg:text-[1.5rem] font-semibold text-center">
            ¿Buscas un momento de paz y equilibrio para tu cuerpo y mente?
          </h1>
          <h1
            class="relative font-messiri text-[2rem] lg:text-[4rem] text-bg text-center z-10"
          >
            Somos heliconia SPA boutique
          </h1>
          <h1
            class="relative font-messiri text-[1.5rem] lg:text-[2rem] text-bg text-center z-10"
          >
            Renueva tu cuerpo, Relaja tu alma
          </h1>
          <h1 class="text-bg relative text-[1.2rem] text-center">
            Explora nuestros servicios de spa y masajes profesionales, encuentra el
            tratamiento perfecto para ti
          </h1>
       </div>
      

      <div class="w-full relative flex justify-center mt-5">
        <a
          class="cursor-pointer p-5 bg-transparent border-[0.1rem] border-secondary_light text-bg hover:bg-secondary_light transition-all ease-in duration-200"
          routerLink="/planes"
          >BONO DE SPA AQUI</a
        >
      </div>
    </section>

    <div class="w-full mt-10 justify-center flex p-5 lg:p-0">
      <h1 class="font-jost text-[1.1rem] lg:text-[1.5rem] text-primary">
        Te acompañamos en un viaje de conexión interior, relajación profunda y
        cuidado integral.
      </h1>
    </div>
    <br />
    <app-separator></app-separator>
  </main>

  <section>
    <app-plans-section></app-plans-section>
  </section>

  <section>
    <app-us></app-us>
  </section>

  <app-separator id="location"></app-separator>

  <section>
    <app-footer></app-footer>
  </section>
</div>
