<div class="flex flex-col w-full gap-16">
  <h1 class="text-center text-primary font-messiri text-[3rem] font-semibold">
    Nosotros
  </h1>

  <div class="bg-primary h-auto lg:h-80 py-10 lg:py-0">
    <div
      class="mx-10 lg:mx-44 flex flex-col lg:flex-row gap-14 lg:gap-5 items-center justify-between h-full"
    >
      <h1 class="font-jost text-bg text-[1.3rem] lg:text-[1.2rem] font-semibold text-center">
        ¡Neiva tiene un nuevo refugio de bienestar y amor!
      </h1>
      <div>
        <img src="assets/img/logo_green.png" alt="" class="w-96" />
      </div>

      <div class="w-full lg:w-72 flex flex-col gap-3">
        <h4 class="font-jost text-secondary_light font-semibold text-xl">
          Profesionales
        </h4>
        <p class="font-jost text-bg text-justify text-[1rem]">
          Equipo apasionado de profesionales terapeutas expertas en relajación
          corporal y facial. Más de 20 años transformando el bienestar de
          clientes en todo el país.
        </p>
        <a
          routerLink="/planes"
          class="font-jost underline text-secondary_light text-lg"
          >Ver planes</a
        >
      </div>

      <div class="w-full lg:w-72 flex flex-col gap-3">
        <h4 class="font-jost text-secondary_light font-semibold text-xl">
          Instalaciones nuevas
        </h4>
        <p class="font-jost text-bg text-justify text-[1rem]">
          Centro de masajes y tratamientos faciales con enfoque amoroso.
          Nuestras hábiles manos alivian, tonifican e hidratan tu piel
          profundamente.
        </p>
        <a
          routerLink="/planes"
          class="font-jost underline text-secondary_light text-lg"
          >Ver planes</a
        >
      </div>
    </div>
  </div>

  <div
    class="flex flex-col lg:flex-row mx-10 lg:mx-44 py-10 justify-between items-center gap-12 lg:gap-0"
  >
    <img src="assets/img/us.png" alt="" class="md:w-[45%]" />

    <div class="w-full lg:w-[50%]">
      <p class="font-jost text-primary text-lg font-light text-justify">
        En el corazón de la ciudad nace Heliconia Spa & Boutique, un espacio
        diseñado para reconectar contigo mismo, regalar momentos únicos a
        quienes más amas y vivir experiencias de relajación profunda.
      </p>
      <br />
      <p class="font-jost text-primary text-lg font-light text-justify">
        Imagina un lugar donde el estrés desaparece, los sentidos se despiertan
        y el amor encuentra su mejor escenario. Heliconia Spa & Boutique hemos
        creado ambientes pensados para el descanso, la renovación y la
        celebración de lo esencial: el bienestar y el afecto.
      </p>
      <br />
      <p class="font-jost text-primary text-lg font-light text-justify">
        Planes románticos, ideales para aniversarios, cumpleaños, propuestas
        especiales o simplemente para decir “te amo” de una manera diferente.
        Experiencias de relajación que revitalizan cuerpo, mente y alma con
        masajes, rituales de spa y tratamientos personalizados. Nuestra boutique
        ofrece detalles elegantes, aromas únicos y regalos especiales para
        sorprender y consentir.
      </p>
      <br />
      <p class="font-jost text-primary text-lg font-light text-justify">
        Ya sea que busques desconectarte de la rutina, compartir con tu pareja
        una experiencia inolvidable o sorprender a alguien importante con un
        detalle lleno de significado, Heliconia Spa & Boutique te espera.
      </p>
      <br />
      <p class="font-jost text-primary text-lg font-light text-justify">
        Neiva merece un lugar así. Tú lo mereces. Ven, recarga tu energía y
        descubre una nueva forma de cuidarte y celebrar la vida.
      </p>
      <br />
      <div class="flex w-full justify-between">
        <app-social-media></app-social-media>

        <a routerLink="/planes" class="action_btn h-10 px-10">Reservar</a>
      </div>
    </div>
  </div>

  <div
    class="bg-[url('assets/img/us_bg.png')] bg-cover bg-center w-full h-[25rem] flex flex-col lg:flex-row items-center lg:justify-between py-10 lg:py-0 px-10 lg:px-44 gap-10 lg:gap-0"
  >
    <div class="flex flex-col gap-10 items-center">
      <h1 class="font-jost text-bg text-[2rem]">NUEVA SEDE EN NEIVA</h1>
      <a
        routerLink="/galeria"
        class="px-2 py-2 h-11 w-60 bg-secondary_light text-center font-jost text-bg cursor-pointer hover:bg-secondary transition-all ease-in duration-300"
        >GALERÍA DE IMÁGENES</a
      >
    </div>

    <div class="flex w-[20rem] justify-between">
      <div class="flex flex-col gap-3 w-[10rem] justify-center items-center">
        <p class="font-jost text-[2rem] text-secondary_light font-bold">48.k</p>
        <h3 class="text-[1.5rem] font-jost text-lg font-semibold text-bg">
          Seguidores
        </h3>
        <a href="" class="hover:scale-95 transition-all ease-in duration-300"
          ><img src="assets/icons/instagram.png" alt="" class="w-16"
        /></a>
      </div>
      <div class="flex flex-col gap-3 w-[10rem] justify-center items-center">
        <p class="font-jost text-[2rem] text-secondary_light font-bold">
          226.k
        </p>
        <h3 class="text-[1.5rem] font-jost text-lg font-semibold text-bg">
          Seguidores
        </h3>
        <a href="" class="hover:scale-95 transition-all ease-in duration-300"
          ><img src="assets/icons/facebook.png" alt="" class="w-16"
        /></a>
      </div>
    </div>
  </div>
</div>
