<div class="flex flex-col w-full gap-16">
  <h1 class="text-center text-primary font-messiri text-[3rem] font-semibold">
    Nosotros
  </h1>

  <div class="bg-primary h-auto lg:h-80 py-10 lg:py-0">
    <div class="mx-10 lg:mx-44 flex flex-col lg:flex-row gap-14 lg:gap-5 items-center justify-between h-full">
      <h1 class="font-jost text-bg text-[1rem] lg:text-[1.2rem]">
        NUEVO LUGAR PARA DESCONECTARTE EN NEIVA
      </h1>
      <div>
        <img src="assets/img/logo_green.png" alt="" class="w-96" />
      </div>

      <div class=" w-full lg:w-72 flex flex-col gap-3">
        <h4 class="font-jost text-secondary_light font-semibold text-xl">
          Profesionales
        </h4>
        <p class="font-jost text-bg">
          Equipo apasionado de profesionales terapeutas expertas en relajación
          corporal y facial. Más de 20 años transformando el bienestar de
          clientes en todo el pais.
        </p>
        <a href="" class="font-jost underline text-secondary_light text-lg"
          >Ver planes</a
        >
      </div>

      <div class="w-full lg:w-72 flex flex-col gap-3">
        <h4 class="font-jost text-secondary_light font-semibold text-xl">
          Instalaciones nuevas
        </h4>
        <p class="font-jost text-bg">
          Centro de masajes y tratamientos faciales con enfoque amoroso.
          Nuestras hábiles manos alivian, tonifican e hidratan tu piel
          profundamente.
        </p>
        <a class="font-jost underline text-secondary_light text-lg"
          >Ver planes</a
        >
      </div>
    </div>
  </div>

  <div class="flex flex-col lg:flex-row mx-10 lg:mx-44 py-10 justify-between items-center gap-12 lg:gap-0">
    <img src="assets/img/us.png" alt="" class="md:w-[45%]"/>

    <div class="w-full lg:w-[50%]">
      <p class="font-jost text-primary  text-lg font-light">
        Este hermoso proyecto nació el 1 de marzo del año 2002, impulsado por mi
        sueño de ofrecer servicios de bienestar a precios justos y accesibles
        para todos. En aquel entonces, era casi imposible que personas de
        estratos uno, dos o incluso tres accedieran a experiencias de spa en
        lugares exclusivos. Fue esa realidad la que me motivó a crear un espacio
        inclusivo, donde la relajación y el cuidado personal no fueran un lujo,
        sino un derecho.
      </p>
      <br />
      <p class="font-jost text-primary  text-lg font-light">
        Con el paso de los meses, descubrí que podía aportar aún más: brindar la
        posibilidad de celebrar fechas especiales a través de nuestros planes,
        especialmente diseñados para parejas. En un mundo acelerado, donde el
        tiempo de calidad se ha vuelto escaso, queríamos ofrecer una oportunidad
        única para reconectar y compartir momentos significativos.
      </p>
      <br />
      <p class="font-jost text-primary  text-lg font-light">
        Una experiencia en nuestro spa es un verdadero oasis de tranquilidad,
        donde es posible escapar del estrés diario y cuidar tanto el cuerpo como
        la mente. Cada uno de nuestros espacios y tratamientos ha sido
        cuidadosamente pensado para promover el bienestar físico y emocional,
        dejando en nuestros visitantes una profunda sensación de renovación y
        equilibrio.
      </p>
      <br />
      <br />
      <div class="flex w-full justify-between">
        
        <app-social-media></app-social-media>

        <a routerLink="/planes" class="action_btn h-10 px-10">Reservar</a>
      </div>
    </div>
  </div>

  <div
    class="bg-[url('assets/img/us_bg.png')] bg-cover bg-center w-full h-[25rem] flex flex-col lg:flex-row
     items-center lg:justify-between py-10 lg:py-0 px-10 lg:px-44 gap-10 lg:gap-0"
  >
    <div class="flex flex-col gap-10 items-center">
      <h1 class="font-jost text-bg text-[2rem]">NUEVA SEDE EN NEIVA</h1>
      <a
        href=""
        class="px-2 py-2 h-11 w-60 bg-secondary_light text-center font-jost text-bg cursor-pointer hover:bg-secondary transition-all ease-in duration-300"
        >GALERIA DE IMAGENES</a
      >
    </div>

    <div class="flex w-[20rem] justify-between">
      <div class="flex flex-col gap-3 w-[10rem] justify-center items-center">
        <p class="font-jost text-[2rem] text-secondary_light font-bold">48.k</p>
        <h3 class="text-[1.5rem] font-jost text-lg font-semibold text-bg">Seguidores</h3>
        <a href="" class="hover:scale-95 transition-all ease-in duration-300"><img src="assets/icons/instagram.png" alt="" class="w-16"/></a>
      </div>
      <div class="flex flex-col gap-3 w-[10rem] justify-center items-center">
        <p class="font-jost text-[2rem] text-secondary_light font-bold">226.k</p>
        <h3 class="text-[1.5rem] font-jost text-lg font-semibold text-bg">Seguidores</h3>
        <a href="" class="hover:scale-95 transition-all ease-in duration-300"><img src="assets/icons/facebook.png" alt="" class="w-16"/></a>
      </div>
    </div>
  </div>
</div>
