<div class="flex gap-5">
    <h3 class="font-jost text-primary font-semibold text-lg">
      Siguenos en:
    </h3>
    <a href="https://www.facebook.com/ClaudiapatriciaosorioSPA" class="hover:scale-125 transition-all ease-in duration-300" target="_blank"
      ><img
        src="assets/icons/facebook.png"
        class="w-[2.5rem] h-[2.5rem]"
        alt=""
    /></a>
    <a href="https://www.instagram.com/claudiapatriciaosoriospa/" class="hover:scale-125 transition-all ease-in duration-300" target="_blank"
      ><img
        src="assets/icons/instagram.png"
        class="w-[2.5rem] h-[2.5rem]"
        alt=""
    /></a>
  </div>
