<div class="flex flex-col w-full gap-20">
  <h1 class="text-center text-[1.5rem] lg:text-[3rem] font-messiri text-primary font-bold">
    Conoce nuestros planes
  </h1>

  <div class="flex flex-col lg:flex-row max-w-full mx_base_mobile lg:mx-40 justify-center lg:justify-between gap-5 lg:gap-0">
    <app-card-plan-section
      [description]="
        'Dedica tiempo a lo más importante: tu bienestar. Nuestros planes individuales están diseñados para ofrecerte una pausa en medio del ritmo diario. Con tratamientos personalizados, aromas relajantes y un ambiente sereno, te ayudamos a reconectar contigo mismo y a revitalizar cuerpo, mente y alma.Vive un momento de cuidado exclusivo solo para ti.'
      "
      [imgPath]="'assets/img/alejandrita.png'"
      [tittle]="'INDIVIDUAL'"
    ></app-card-plan-section>

    <div class="w-[1px] bg-gray-300"></div>
    <app-card-plan-section
      [description]="'Escápate con tu persona especial a un mundo de tranquilidad y conexión. Nuestros planes en pareja están pensados para fortalecer vínculos, celebrar fechas importantes o simplemente disfrutar juntos de un momento inolvidable. Cada detalle está diseñado para crear una experiencia única, llena de armonía y romanticismo.'"
      [imgPath]="'assets/img/eucasol.png'"
      [tittle]="'EN PAREJA'"
    ></app-card-plan-section>
    <div class="w-[1px] bg-gray-300"></div>
    <app-card-plan-section
      [description]="'Nuestros planes para grupos están diseñados para vivir momentos especiales con quienes más quieres: amigos, familia o compañeros. Perfectos para celebraciones, despedidas, cumpleaños o simplemente pasar un tiempo diferente, en un ambiente lleno de paz y conexión.'"
      [imgPath]="'assets/img/granate4.png'"
      [tittle]="'GRUPOS'"
    ></app-card-plan-section>
  </div>

  <app-separator></app-separator>
  <div class="w-full h-[10rem] bg-[url('assets/img/plans_footer.png')] bg-cover bg-center flex justify-center items-center">

    <a id="us" routerLink="/planes/" class="cursor-pointer p-4 border-2 border-primary rounded-3xl font-jost text-primary base_transition hover:bg-primary hover:text-bg">
        VER TODOS LOS PLANES
    </a>
  </div>
</div>
