<nav class="w-full fixed z-20 shadow-lg">
  <div class="flex bg-bg h-16 lg:h-14 items-center lg:py-0 px-10 lg:px-20 justify-between lg:justify-center lg:gap-52">
    <a
      target="_blank"
      href="{{ wspMsg }}"
      class="hidden lg:flex lg:gap-2 font-jost text-primary font-bold lg:items-center"
      ><img src="assets/icons/whatsapp2.png" class="w-4 h-4" alt="" />
      319-259-3098 | Mejor tarifa garantizada</a
    >
    <a routerLink="/"><img src="assets/img/logo.png" class="w-20" alt="" /></a>
    
    <a href="" class="hidden lg:block font-jost text-primary font-light"
      >MEMBERS SIGN IN</a
    >
    <a class="action_btn hidden lg:block" routerLink="/planes">RESERVAR</a>

    <a class=" lg:hidden cursor-pointer" (click)="openMenu()"
      >
      @if(menuStatus === ElementStatusType.SHOW){
        <img src="assets/icons/cerrar.png" class="w-6" alt=""/>
      }@else {
        <img src="assets/icons/menu.png" class="w-7" alt=""/>
      }
      </a>
  </div>
  <div
    class="justify-center h-auto lg:h-14 bg-primary items-center hidden lg:flex"
  >
    <ul
      class="flex flex-col py-5 lg:py-0 lg:flex-row gap-5 lg:gap-20 h-full w-full lg:w-auto"
    >
      <li class="menu_options">
        <a appElementActive class="a_option" href="#main">INICIO</a>
      </li>
      <li class="menu_options" routerLink="/planes">
        <a appElementActive class="a_option">PLANES</a>
      </li>
      <li class="menu_options">
        <a appElementActive href="#us" class="a_option">QUIENES SOMOS</a>
      </li>
      <li class="menu_options">
        <a appElementActive href="#location" class="a_option">UBICACION</a>
      </li>
      <li class="menu_options" routerLink="/politicas_reserva/">
        <a appElementActive class="a_option">POLITICAS DE RESERVA</a>
      </li>
      <li class="menu_options"><a href="" class="a_option">BOUTIQUE</a></li>
    </ul>
  </div>

  <!-- //MOBILE MENU -->
  <div
    *ngIf="menuStatus === ElementStatusType.SHOW"
    class="flex justify-center h-auto lg:h-14 bg-primary items-center"
  >
    <ul
      class="flex flex-col py-5 lg:py-0 lg:flex-row gap-5 lg:gap-20 h-full w-full lg:w-auto"
    >
      <li class="menu_options" (click)="closedMenu()">
        <a appElementActive class="a_option" href="#main">INICIO</a>
      </li>
      <li class="menu_options" routerLink="/planes" (click)="closedMenu()">
        <a appElementActive class="a_option">PLANES</a>
      </li>
      <li class="menu_options" (click)="closedMenu()">
        <a appElementActive href="#us" class="a_option">QUIENES SOMOS</a>
      </li>
      <li class="menu_options" (click)="closedMenu()">
        <a appElementActive href="#location" class="a_option">UBICACION</a>
      </li>
      <li
        class="menu_options"
        routerLink="/politicas_reserva/"
        (click)="closedMenu()"
      >
        <a appElementActive class="a_option">POLITICAS DE RESERVA</a>
      </li>
      <li class="menu_options"><a href="" class="a_option">BOUTIQUE</a></li>
    </ul>
  </div>
</nav>
