<div class="">
    <div class="flex flex-col gap-10">
        <div class="flex w-full justify-center items-center gap-5">
            <h1 class="font-messiri text-[2rem] lg:text-[3rem] text-primary font-bold">Nuesta ubicacion</h1>
          <img class="w-[3rem] h-[3rem] lg:w-[4rem] lg:h-[4rem]" src="assets/icons/ubicacion.png" alt="" />
        </div>
      
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d17379.018617047786!2d-75.28337445472263!3d2.9094495193375396!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1sCalle%206%20%23%202A-13calle%206%20%23%2013-37%20neiva!5e1!3m2!1ses-419!2sco!4v1744233180115!5m2!1ses-419!2sco"
          class="w-full h-[30rem] shadow-xl"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        ></iframe>

    </div>

  <div class="bg-[url('assets/img/footer_bg.png')] bg-cover bg-center h-full lg:h-[20rem]">
      <div class="flex flex-col lg:flex-row w-full items-center px-10 lg:px-44 py-10 lg:py-0 gap-10 lg:gap-20">
        <img src="assets/img/logo_trans.png"  alt="">
        <div class="flex flex-col gap-3
        ">
          <a href="" class="flex gap-2"><img src="assets/icons/whatsapp2.png" alt="" class="w-[1rem] h-[1rem]"><small class="font-jost text-primary text-sm font-semibold">310 343 6769</small></a>
          <a href="" class="flex gap-2"><img src="assets/icons/whatsapp2.png" alt="" class="w-[1rem] h-[1rem]"><small class="font-jost text-primary text-sm font-semibold">305 251 2396</small></a>
          <small class="flex gap-2 font-jost text-primary text-sm font-semibold"><img src="assets/icons/ubicacion.png" alt="" class="w-[1rem] h-[1rem]">Calle 6 # 13-37, Barrio el altico</small>
          <div class="h-1 w-full bg-secondary"></div>

          <app-social-media></app-social-media>
        </div>
      </div>
  </div>
  <div class="w-full h-[5] lg:h-[3.5rem] bg-primary flex flex-col lg:flex-row justify-center items-center gap-5 lg:gap-0 py-5 lg:py-0 px-10 lg:px-0">
    <img src="assets/img/logo_green.png" class="hidden lg:block w-[7rem]" alt="">
    <p class="text-bg font-jost text-[0.8rem] lg:text-[1rem] text-center">¿Quieres pertenecer a nuestro equipo de trabajo? Envíanos la hoja de vida al correo: {{email}}</p>
  </div>
</div>
