<div class="w-[20rem] flex flex-col gap-5">
    <div
        class="relative bg-cover bg-center h-[29rem] shadow-md"
        [style.backgroundImage]="'url(assets/img/boutique/'+ imageUrl + ')'"
        [attr.loading]="'lazy'"
    >
        <!-- ETIQUETA NUEVO -->
        <div class="bg-primary w-[20%] flex justify-center">
            <h1 class="text-bg">NUEVO</h1>
        </div>
    </div>

    <div class="w-full flex justify-center">
        <a href="https://www.instagram.com/mylady.col?utm_source=qr&igsh=MWlkdmwxaHlkZGd2eA%3D%3D" target="_blank" class="px-3 py-1 border-[0.1rem] border-gray-400
            hover:border-black transition-all duration-300 font-jost font-light
        ">SABER MAS</a>

    </div>
</div>